* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}
#rooms-page {
  width: 1200px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 20px;
}
.rooms-wrapper {
  justify-content: space-around;
}
.room {
  border: 1px solid var(--main-button-border-color);
  background-color: #f6f6f6;
  width: 200px;
  height: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.room span {
  display: block;
  font-size: 0.6rem;
}
.room h2 {
  text-align: center;
}
#add-room-btn,
.join-btn {
  display: block;
  margin: 30px 0;
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  padding: 0 15px;
}
.join-btn {
  width: max-content;
}
.rooms-wrapper .join-btn {
  align-self: center;
}
#game-page {
  width: 1200px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 20px;
}
.left-side,
.right-side,
.commentator-wrapper {
  width: 33.33333%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.commentator-wrapper {
  font-size: 60px;
}
.right-side {
  background-color: white;
  align-items: center;
  justify-content: center;
  position: relative;
}
.user-info {
  position: relative;
  margin-bottom: 30px;
  background-color: white;
  padding: 15px;
}
.user-info p {
  margin-left: 25px;
  margin-bottom: 15px;
}
.ready-indicator {
  width: 20px;
  height: 20px;
  border: 1px solid #b8b8b8;
  border-radius: 50%;
  position: absolute;
}
.ready-status-red {
  background-color: red;
}
.ready-status-green {
  background-color: yellowgreen;
}
.progress-indicator-wrapper {
  height: 20px;
  border: 1px solid;
}
.progress-indicator {
  background-color: yellowgreen;
  height: 100%;
}
.next-symbol {
  border-bottom: 2px solid black;
}
#text-container span {
  padding: 0 1px;
}
.seconds-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.8rem;
}
.commentator {
  font-size: 60px;
  position: relative;
}
.commentator .comment-icon {
  position: absolute;
  top: -165%;
  left: 15%;
}
.comment-icon div {
  position: absolute;
  top: 0;
  left: 10%;
}
.comment-icon textarea {
  resize: none;
  width: 170px;
  height: 136px;
  border-radius: 30px;
  border: none;
  padding: 17px;
  font-size: 12px;
}
.comment-icon div i {
  font-size: 170px;
}

